Agile-Tesla.json
[{"id":"c73ca14a.a1a1e","type":"tab","label":"API Tokens","disabled":false,"info":""},{"id":"62a6e15a.c8b1","type":"tab","label":"Charge Optimisation","disabled":false,"info":""},{"id":"37ca7b25.690944","type":"tab","label":"Home Defrost","disabled":false,"info":""},{"id":"29778cf9.0d00e4","type":"tab","label":"Work Defrost","disabled":false,"info":""},{"id":"227fd882.d86348","type":"tab","label":"Octopus Agile Data","disabled":false,"info":""},{"id":"a30db13c.9915a","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"91a314a2.917ff8","type":"ui_group","z":"","name":"kw","tab":"63c982c3.beebcc","disp":true,"width":"6"},{"id":"34627a40.4f9816","type":"serial-port","z":"","serialport":"com3","serialbaud":"250000","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"11","bin":"bin","out":"count","addchar":"false","responsetimeout":""},{"id":"b40f9a00.32af88","type":"ui_group","z":"","name":"graph","tab":"63c982c3.beebcc","disp":true,"width":"8"},{"id":"63c982c3.beebcc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e334be45.cd5fd","type":"ewelink-credentials","z":""},{"id":"700b7e3e.b2dfd","type":"sonoff-server","z":"","serverIP":"10.0.0.209","httpsPort":"1080","websocketPort":"443"},{"id":"a30d797c.59ad58","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"490e72da.3cfdac","type":"websocket-listener","z":"","path":"/ws/chart","wholemsg":"false"},{"id":"1139c7f7.6438b8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"195c1283.bdbb4d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e3fb6195.2d861","type":"ui_group","z":"","name":"Controls","tab":"195c1283.bdbb4d","disp":true,"width":6,"collapse":true},{"id":"2a349a28.5ee8b6","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Tesla Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"36ccd5fe.cfc86a","type":"ui_group","z":"","name":"Charts","tab":"","disp":true,"width":"12","collapse":false},{"id":"9286f51d.6ae268","type":"ui_group","z":"","name":"Group 1","tab":"","disp":true,"width":"12","collapse":false},{"id":"e2ccea8d.2a63e8","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"f9e1b513.5d4378","type":"ui_group","z":"","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"f88523c7.585ec","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"abfd0755.872508","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"4964cc34.f01d94","type":"ui_group","z":"","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"d1327c67.865a3","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"47a667c0.999178","type":"ui_group","z":"","name":"Charts","tab":"195c1283.bdbb4d","order":2,"disp":true,"width":"6","collapse":true},{"id":"178fe103.1fd31f","type":"ui_group","z":"","name":"Thermostat demo","tab":"","order":2,"disp":true,"width":"6"},{"id":"b35a13c7.3420c","type":"ui_group","z":"","name":"Charts 2","tab":"195c1283.bdbb4d","order":3,"disp":true,"width":"6","collapse":true},{"id":"f6a9cea5.02327","type":"tls-config","z":null,"name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"13cc7cad.6b3993","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"34768da2.f223a2","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"68e5c832.b52f48","type":"inject","z":"c73ca14a.a1a1e","name":"Run every 25 days","topic":"","payload":"","payloadType":"date","repeat":"2145600","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["9d67727.59ad59"]]},{"id":"e1debb31.da64c8","type":"comment","z":"37ca7b25.690944","name":"Morning Defrost Work Defrost - Add first few digets to latitude to \"At Home\"","info":"","x":280,"y":20,"wires":[]},{"id":"86b8221f.7f735","type":"inject","z":"29778cf9.0d00e4","name":"Start at 4:55 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 16 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":290,"y":60,"wires":[["c0f89a37.678518"]]},{"id":"ae5ff592.c45e58","type":"file in","z":"29778cf9.0d00e4","name":"Open Token","filename":"/root/.node-red/token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":130,"y":100,"wires":[["70ac02b1.26d6bc"]]},{"id":"70ac02b1.26d6bc","type":"json","z":"29778cf9.0d00e4","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":100,"wires":[["13eb579b.1db458"]]},{"id":"13eb579b.1db458","type":"function","z":"29778cf9.0d00e4","name":"StoreToken","func":"flow.set ('token' ,msg.payload.access_token);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["bd91a3bd.effcc"]]},{"id":"bd91a3bd.effcc","type":"function","z":"29778cf9.0d00e4","name":"Wake Car","func":"//flow.set ('token' ,msg.payload.access_token);\nvar idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"wake_up\";\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":160,"wires":[["ccf092c5.47735"]]},{"id":"ccf092c5.47735","type":"http request","z":"29778cf9.0d00e4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":270,"y":160,"wires":[["a0e913a3.6f4ba"]],"outputLabels":["Wake Car"]},{"id":"a0e913a3.6f4ba","type":"delay","z":"29778cf9.0d00e4","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":160,"wires":[["7fba6e27.c7f85"]]},{"id":"7fba6e27.c7f85","type":"function","z":"29778cf9.0d00e4","name":"Check Temp, Bat, Location","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query2 = \"/api/1/vehicles/24830931984696858/vehicle_data\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":180,"y":220,"wires":[["fce65047.6d9e9"]]},{"id":"fce65047.6d9e9","type":"http request","z":"29778cf9.0d00e4","name":"Get Json","method":"GET","ret":"obj","paytoqs":false,"url":"https://owner-api.teslamotors.com/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":380,"y":220,"wires":[["886b4d4c.c2462"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"d2a852a4.15b25","type":"switch","z":"29778cf9.0d00e4","name":"at Work?","property":"location","propertyType":"flow","rules":[{"t":"cont","v":"11.11","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":140,"y":280,"wires":[["a8ef05e4.af7f88"],["d07901b0.b869c"]]},{"id":"886b4d4c.c2462","type":"function","z":"29778cf9.0d00e4","name":"Save Varables","func":"flow.set ('temp' ,msg.payload.response.climate_state.outside_temp);\nflow.set ('location' ,msg.payload.response.drive_state.native_latitude);\nflow.set ('charge' ,msg.payload.response.charge_state.battery_level);\nvar temp = flow.get('temp');\nvar location = flow.get('location');\nvar charge = flow.get('charge');\nmsg.payload = {}\nmsg.payload['temp'] = temp;\nmsg.payload['location'] = location;\nmsg.payload['charge'] = charge;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["d2a852a4.15b25"]]},{"id":"a8ef05e4.af7f88","type":"switch","z":"29778cf9.0d00e4","name":"Is battery atleast 40%","property":"charge","propertyType":"flow","rules":[{"t":"gt","v":"40","vt":"num"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":360,"y":280,"wires":[["4176af59.7274d"],["3a1683df.ef23bc"]]},{"id":"e7e4678e.d89a28","type":"inject","z":"37ca7b25.690944","name":"Start at 6:55 AM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 06 * * 1,3,4,5","once":false,"onceDelay":0.1,"x":290,"y":60,"wires":[["c1178edd.7d381"]]},{"id":"7a4f492.57bd8b8","type":"file in","z":"37ca7b25.690944","name":"Open Token","filename":"/root/.node-red/token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":120,"wires":[["f20dfc24.a8303"]]},{"id":"f20dfc24.a8303","type":"json","z":"37ca7b25.690944","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":120,"wires":[["887e74fc.258ec8"]]},{"id":"887e74fc.258ec8","type":"function","z":"37ca7b25.690944","name":"StoreToken","func":"flow.set ('token' ,msg.payload.access_token);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["97fe13db.834e2"]]},{"id":"97fe13db.834e2","type":"function","z":"37ca7b25.690944","name":"Wake Car","func":"//flow.set ('token' ,msg.payload.access_token);\nvar idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"wake_up\";\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":160,"wires":[["b387fb58.5b9f38"]]},{"id":"b387fb58.5b9f38","type":"http request","z":"37ca7b25.690944","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":270,"y":160,"wires":[["782b14b9.2db13c"]],"outputLabels":["Wake Car"]},{"id":"782b14b9.2db13c","type":"delay","z":"37ca7b25.690944","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":160,"wires":[["539f5f31.140ad"]]},{"id":"539f5f31.140ad","type":"function","z":"37ca7b25.690944","name":"Check Temp, Location, Charger","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query2 = \"/api/1/vehicles/24830931984696858/vehicle_data\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":190,"y":220,"wires":[["a370df11.e591c"]]},{"id":"a370df11.e591c","type":"http request","z":"37ca7b25.690944","name":"Get Json","method":"GET","ret":"obj","paytoqs":false,"url":"https://owner-api.teslamotors.com/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":400,"y":220,"wires":[["7562a42e.3862bc"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"c0c4a860.95db88","type":"switch","z":"37ca7b25.690944","name":"at Home?","property":"location","propertyType":"flow","rules":[{"t":"cont","v":"11.1","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":120,"y":280,"wires":[["93d5504d.52384"],["8798dedc.66ba3"]]},{"id":"7562a42e.3862bc","type":"function","z":"37ca7b25.690944","name":"Save Varables","func":"flow.set ('temp' ,msg.payload.response.climate_state.outside_temp);\nflow.set ('location' ,msg.payload.response.drive_state.native_latitude);\nflow.set ('oncharge' ,msg.payload.response.charge_state.charge_port_door_open);\nvar temp = flow.get('temp');\nvar location = flow.get('location');\nvar oncharge = flow.get('oncharge');\nmsg.payload = {}\nmsg.payload['temp'] = temp;\nmsg.payload['location'] = location;\nmsg.payload['oncharge'] = oncharge;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["c0c4a860.95db88"]]},{"id":"93d5504d.52384","type":"switch","z":"37ca7b25.690944","name":"Plugged in?","property":"oncharge","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":290,"y":280,"wires":[["1529e0a7.03573f"],["308755b8.e5f7da"]]},{"id":"9e624ef2.0d318","type":"function","z":"37ca7b25.690944","name":"Start Heater","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"command/auto_conditioning_start\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":400,"wires":[["79788eea.25b4c"]]},{"id":"79788eea.25b4c","type":"http request","z":"37ca7b25.690944","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":290,"y":400,"wires":[["981326a2.cbc3c8"]],"outputLabels":["Wake Car"]},{"id":"9f99fde.bc5f","type":"function","z":"37ca7b25.690944","name":"Start Defrost","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"command/set_preconditioning_max\";\nmsg.payload={ \n    'on': 'true'};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":400,"wires":[["9f683de0.32c11"]]},{"id":"9f683de0.32c11","type":"http request","z":"37ca7b25.690944","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":730,"y":440,"wires":[["2562cd68.c0e542","bb1df971.3617a8"]],"outputLabels":["Wake Car"]},{"id":"2562cd68.c0e542","type":"delay","z":"37ca7b25.690944","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":520,"wires":[["60f669b6.989198"]]},{"id":"60f669b6.989198","type":"function","z":"37ca7b25.690944","name":"Stop Climate","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"command/auto_conditioning_stop\";\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":600,"wires":[["d75f6b25.c07ad8"]]},{"id":"d75f6b25.c07ad8","type":"http request","z":"37ca7b25.690944","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":270,"y":600,"wires":[["58497a9f.de6d34"]],"outputLabels":["Wake Car"]},{"id":"dc60175.d0e9fe8","type":"comment","z":"29778cf9.0d00e4","name":"Work Defrost - Add first few digets to latitude to \"At Work\"","info":"","x":230,"y":20,"wires":[]},{"id":"d07901b0.b869c","type":"function","z":"29778cf9.0d00e4","name":"Fail","func":"msg.payload = \"Car Not at work, so Auto HVAC aborted\";\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["f54d018a.ba3e5"]]},{"id":"3a1683df.ef23bc","type":"function","z":"29778cf9.0d00e4","name":"Fail","func":"msg.payload = \"Battery too low for Auto HVAC\";\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["f54d018a.ba3e5"]]},{"id":"8798dedc.66ba3","type":"function","z":"37ca7b25.690944","name":"Fail","func":"msg.payload = \"Car not at home, so Auto HVAC aborted\";\nreturn msg;\n","outputs":1,"noerr":0,"x":130,"y":340,"wires":[["b1979418.819858"]]},{"id":"ba18e718.7554f8","type":"function","z":"37ca7b25.690944","name":"Result","func":"if (msg.payload.response.result) {\n  result = \"Defrost Started\";\n} else {\n  result = \"Defrost Start Failed:\" +msg.payload.response.reason;\n}\nmsg = {}\nmsg.payload = {}\nmsg.payload = result;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["accfd373.4e4fd"]]},{"id":"afaab148.9be49","type":"function","z":"37ca7b25.690944","name":"Stop Result","func":"if (msg.payload.response.result) {\n  result = \"Auto HVAC Finished\";\n} else {\n  result = \"Auto HVAC Finished failed: \" +msg.payload.response.reason;\n}\nmsg = {}\nmsg.payload = {}\nmsg.payload = result;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["accfd373.4e4fd"]]},{"id":"bb1df971.3617a8","type":"json","z":"37ca7b25.690944","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":500,"wires":[["ba18e718.7554f8"]]},{"id":"58497a9f.de6d34","type":"json","z":"37ca7b25.690944","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":600,"wires":[["afaab148.9be49"]]},{"id":"d27b0862.8d7958","type":"function","z":"c73ca14a.a1a1e","name":"Refresh Token","func":"var idToken = msg.payload.refresh_token;\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.payload['grant_type'] = \"refresh_token\";\nmsg.payload['client_id'] = \"81527cff06843c8634fdc09e8ac0abefb46ac849f38fe1e431c2ef2106796384\";\nmsg.payload['client_secret'] = \"c7257eb71a564034f9419ee651c7d0e5f7aa6bfbd18bafb5c5c033b093bb2fa3\";\nmsg.payload['refresh_token'] = idToken;\nmsg.query = \"oauth/token?grant_type=refresh_token\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":680,"y":120,"wires":[["f8cd4c8f.69153"]]},{"id":"f8cd4c8f.69153","type":"http request","z":"c73ca14a.a1a1e","name":"Request","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":140,"y":180,"wires":[["e8f495c.4d44968"]],"outputLabels":["Wake Car"]},{"id":"e8f495c.4d44968","type":"file","z":"c73ca14a.a1a1e","name":"Save Token","filename":"/root/.node-red/token","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":290,"y":180,"wires":[["80e840b1.b318f"]]},{"id":"9468b2c4.c12fb","type":"comment","z":"c73ca14a.a1a1e","name":"Refresh Token","info":"","x":130,"y":80,"wires":[]},{"id":"9d67727.59ad59","type":"file in","z":"c73ca14a.a1a1e","name":"Open Token","filename":"/root/.node-red/token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":120,"wires":[["7e3747c7.9562a8"]]},{"id":"7e3747c7.9562a8","type":"json","z":"c73ca14a.a1a1e","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":120,"wires":[["d27b0862.8d7958"]]},{"id":"c8792d7f.67d3b","type":"debug","z":"c73ca14a.a1a1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":360,"wires":[]},{"id":"572855c3.75a07c","type":"file","z":"c73ca14a.a1a1e","name":"Save Token","filename":"/root/.node-red/token","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":290,"y":360,"wires":[["c8792d7f.67d3b"]]},{"id":"59d9bf8d.b7375","type":"http request","z":"c73ca14a.a1a1e","name":"Request","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":140,"y":360,"wires":[["572855c3.75a07c","c8792d7f.67d3b"]],"outputLabels":["Wake Car"]},{"id":"3c007e66.a72602","type":"inject","z":"c73ca14a.a1a1e","name":"Start","topic":"Start","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["83f6a5cc.dab6d8"]]},{"id":"83f6a5cc.dab6d8","type":"function","z":"c73ca14a.a1a1e","name":"Refresh Token","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.payload={ \n  \"grant_type\": \"password\",\n  \"client_id\": \"81527cff06843c8634fdc09e8ac0abefb46ac849f38fe1e431c2ef2106796384\",\n  \"client_secret\": \"c7257eb71a564034f9419ee651c7d0e5f7aa6bfbd18bafb5c5c033b093bb2fa3\",\n  \n  //Add Login Details Here\n  \"email\": \"Yourname@email.com\",\n  \"password\": \"password\"\n    \n};\nmsg.query = \"oauth/token?grant_type=password\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["59d9bf8d.b7375","c8792d7f.67d3b"]]},{"id":"5b8489c9.8896e8","type":"comment","z":"c73ca14a.a1a1e","name":"Create New Token - Add UserName","info":"","x":200,"y":240,"wires":[]},{"id":"80e840b1.b318f","type":"function","z":"c73ca14a.a1a1e","name":"Send Push","func":"msg.payload = \"New Token Created\";\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["5fb75bf.bee9ca4"]]},{"id":"c0f89a37.678518","type":"switch","z":"29778cf9.0d00e4","name":"","property":"wdefrost","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":60,"wires":[["56c2b82e.4dc268"],["ae5ff592.c45e58"]]},{"id":"56c2b82e.4dc268","type":"function","z":"29778cf9.0d00e4","name":"Fail","func":"msg.payload = \"Work Defrost Switched Off\";\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":60,"wires":[["f94a46de.e71548"]]},{"id":"f94a46de.e71548","type":"debug","z":"29778cf9.0d00e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":120,"wires":[]},{"id":"c1178edd.7d381","type":"switch","z":"37ca7b25.690944","name":"","property":"hdefrost","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":60,"wires":[["79436a82.c439c4"],["7a4f492.57bd8b8"]]},{"id":"79436a82.c439c4","type":"function","z":"37ca7b25.690944","name":"Fail","func":"msg.payload = \"Work Defrost Switched Off\";\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["e19316b3.adca98"]]},{"id":"e19316b3.adca98","type":"debug","z":"37ca7b25.690944","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":60,"wires":[]},{"id":"128b6615.65f49a","type":"http request","z":"227fd882.d86348","name":"Tariffs","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"f6a9cea5.02327","persist":false,"proxy":"","authType":"basic","x":650,"y":220,"wires":[["e9d4eec.3b5de1","e4ce2b85.1db758"]]},{"id":"e9d4eec.3b5de1","type":"change","z":"227fd882.d86348","name":"Pull results","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Agile Rates","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":260,"wires":[["e981aea9.2a2f7"]]},{"id":"b66d4f55.4065f","type":"function","z":"227fd882.d86348","name":"Tariff Base URL","func":"var timestamp = new Date(msg.payload).toISOString();\nmsg.url = \"https://api.octopus.energy/v1/products/AGILE-18-02-21/electricity-tariffs/E-1R-AGILE-18-02-21-L/standard-unit-rates/?period_from=\" + \n    timestamp;\n    \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["128b6615.65f49a"]]},{"id":"5b16f217.6f88fc","type":"template","z":"227fd882.d86348","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"REPLACE INTO agile_tariffs (valid_from, value_inc_vat) \n  VALUES ('{{{payload.valid_from}}}', {{{payload.value_inc_vat}}})\n  \n","output":"str","x":660,"y":260,"wires":[["e61edabd.f6efc8"]]},{"id":"e981aea9.2a2f7","type":"split","z":"227fd882.d86348","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":260,"wires":[["68ff6124.7941e"]]},{"id":"cfced4fa.e3d388","type":"inject","z":"227fd882.d86348","name":"Since Jan 2019","topic":"","payload":"2019-01-01T00:00Z","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["b66d4f55.4065f"]]},{"id":"e4ce2b85.1db758","type":"function","z":"227fd882.d86348","name":"Repeat","func":"node.status({fill: \"blue\", text: \"startup\"});\nmsg.url = msg.payload.next;\nmsg.headers = {};\nif (msg.url) {\n    setTimeout(function() {\n        node.send(msg);\n        node.status({fill: \"green\", text: \"sent\"});\n    }, 5000);\n}\n\nnode.status({fill: \"yellow\", text: \"waiting\"})","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["128b6615.65f49a"]]},{"id":"d5e40dfd.f3ea6","type":"inject","z":"227fd882.d86348","name":"Fetch New Tariff","topic":"SELECT ADDTIME(MAX(valid_from), \"00:30:00\") AS next FROM agile_tariffs","payload":"0","payloadType":"num","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["6be96cb6.1abb64"]]},{"id":"7109f39e.98919c","type":"change","z":"227fd882.d86348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["b66d4f55.4065f"]]},{"id":"68ff6124.7941e","type":"function","z":"227fd882.d86348","name":"Fix timezone","func":"msg.payload.valid_from= new Date(msg.payload.valid_from).toISOString().replace('Z', '');\nnode.status({text: msg.payload.valid_from});\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["5b16f217.6f88fc"]]},{"id":"372ba4bb.d55f5c","type":"comment","z":"227fd882.d86348","name":"Agile Tarrif Data - Customise URL for Your Region","info":"","x":220,"y":40,"wires":[]},{"id":"f8fdd1dd.1a3a8","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Work Defrost","tooltip":"","group":"e3fb6195.2d861","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":180,"wires":[["7627e1a8.cde66"]]},{"id":"7627e1a8.cde66","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('wdefrost' ,msg.payload);\nvar wdefrost = global.get('wdefrost');\nmsg.payload = {}\nmsg.payload['wdefrost'] = wdefrost;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["9f7aad8c.3de59"]]},{"id":"2cb3d145.a698ae","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Master switch","tooltip":"","group":"e3fb6195.2d861","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":20,"wires":[["f8fdd1dd.1a3a8","56bae5cb.90c69c","968d128.80af3f","83777138.1376b","d6349489.58ba88","12985a46.ec0b56","dd0b202f.5e988"]]},{"id":"9f7aad8c.3de59","type":"debug","z":"a30db13c.9915a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":240,"wires":[]},{"id":"56bae5cb.90c69c","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Data Logging","tooltip":"","group":"e3fb6195.2d861","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":240,"wires":[["2f09edce.647902"]]},{"id":"2f09edce.647902","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('dlog' ,msg.payload);\nvar dlog = global.get('dlog');\nmsg.payload = {}\nmsg.payload['dlog'] = dlog;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["9f7aad8c.3de59"]]},{"id":"b5a47d98.78ee1","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('aHVAC' ,msg.payload);\nvar aHVAC = global.get('aHVAC');\nmsg.payload = {}\nmsg.payload['aHVAC'] = aHVAC;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["9f7aad8c.3de59"]]},{"id":"968d128.80af3f","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Auto HVAC Off","tooltip":"","group":"e3fb6195.2d861","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":300,"wires":[["b5a47d98.78ee1"]]},{"id":"11d4db5b.1e7e25","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('hdefrost' ,msg.payload);\nvar hdefrost = global.get('hdefrost');\nmsg.payload = {}\nmsg.payload['hdefrost'] = hdefrost;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["9f7aad8c.3de59"]]},{"id":"83777138.1376b","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Home Defrost","tooltip":"","group":"e3fb6195.2d861","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":360,"wires":[["11d4db5b.1e7e25"]]},{"id":"d6349489.58ba88","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"95% Charge Limit","tooltip":"","group":"e3fb6195.2d861","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":420,"wires":[["9011178b.15a028"]]},{"id":"9011178b.15a028","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('chrglimit' ,msg.payload);\nvar chrglimit = global.get('chrglimit');\nmsg.payload = {}\nmsg.payload['chrglimit'] = chrglimit;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["9f7aad8c.3de59"]]},{"id":"1529e0a7.03573f","type":"switch","z":"37ca7b25.690944","name":"Is Temp Below 6?","property":"temp","propertyType":"flow","rules":[{"t":"lte","v":"6","vt":"num"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":510,"y":280,"wires":[["9e624ef2.0d318"],["f9a5fcf9.40ec9"]]},{"id":"f9a5fcf9.40ec9","type":"function","z":"37ca7b25.690944","name":"Fail","func":"msg.payload = \"Not cold enough for Auto HVAC\";\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["b1979418.819858"]]},{"id":"308755b8.e5f7da","type":"function","z":"37ca7b25.690944","name":"Fail","func":"msg.payload = \"Auto HVAC aborted as car not pluged in\";\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["b1979418.819858"]]},{"id":"981326a2.cbc3c8","type":"switch","z":"37ca7b25.690944","name":"Is Temp Below 2?","property":"temp","propertyType":"flow","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":490,"y":400,"wires":[["9f99fde.bc5f"],["2562cd68.c0e542","4bb3382e.44c278"]]},{"id":"c5680adc.32f348","type":"function","z":"37ca7b25.690944","name":"Result","func":"if (msg.payload.response.result) {\n  result = \"Heater Started\";\n} else {\n  result = \"Heater Start Failed:\" +msg.payload.response.reason;\n}\nmsg = {}\nmsg.payload = {}\nmsg.payload = result;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["accfd373.4e4fd"]]},{"id":"4bb3382e.44c278","type":"json","z":"37ca7b25.690944","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":520,"wires":[["c5680adc.32f348"]]},{"id":"55fce7b6.f92788","type":"function","z":"29778cf9.0d00e4","name":"Start Heater","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"command/auto_conditioning_start\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":420,"wires":[["6b584eea.c3e43"]]},{"id":"6b584eea.c3e43","type":"http request","z":"29778cf9.0d00e4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":330,"y":420,"wires":[["4929a8a3.963288"]],"outputLabels":["Wake Car"]},{"id":"79dbf68f.84a538","type":"function","z":"29778cf9.0d00e4","name":"Start Defrost","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"command/set_preconditioning_max\";\nmsg.payload={ \n    'on': 'true'};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":420,"wires":[["e4925fec.3f4b4"]]},{"id":"e4925fec.3f4b4","type":"http request","z":"29778cf9.0d00e4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":770,"y":460,"wires":[["5befbd8d.f0c524","6a45fb6d.b516b4"]],"outputLabels":["Wake Car"]},{"id":"5befbd8d.f0c524","type":"delay","z":"29778cf9.0d00e4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":500,"wires":[["a935a0ea.31103"]]},{"id":"a935a0ea.31103","type":"function","z":"29778cf9.0d00e4","name":"Stop Climate","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"command/auto_conditioning_stop\";\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":620,"wires":[["992f7ce6.e954"]]},{"id":"992f7ce6.e954","type":"http request","z":"29778cf9.0d00e4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":310,"y":620,"wires":[["115547b.64494b8"]],"outputLabels":["Wake Car"]},{"id":"fa65772c.141318","type":"function","z":"29778cf9.0d00e4","name":"Result","func":"if (msg.payload.response.result) {\n  result = \"Defrost Started\";\n} else {\n  result = \"Defrost Start Failed:\" +msg.payload.response.reason;\n}\nmsg = {}\nmsg.payload = {}\nmsg.payload = result;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":560,"wires":[["56621e4e.08863"]]},{"id":"8aa8250b.75ffd8","type":"function","z":"29778cf9.0d00e4","name":"Stop Result","func":"if (msg.payload.response.result) {\n  result = \"Auto HVAC Finished\";\n} else {\n  result = \"Auto HVAC Finished failed: \" +msg.payload.response.reason;\n}\nmsg = {}\nmsg.payload = {}\nmsg.payload = result;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["56621e4e.08863"]]},{"id":"6a45fb6d.b516b4","type":"json","z":"29778cf9.0d00e4","name":"","property":"payload","action":"obj","pretty":false,"x":770,"y":520,"wires":[["fa65772c.141318"]]},{"id":"115547b.64494b8","type":"json","z":"29778cf9.0d00e4","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":620,"wires":[["8aa8250b.75ffd8"]]},{"id":"19535ee4.ee3551","type":"function","z":"29778cf9.0d00e4","name":"Fail","func":"msg.payload = \"Not cold enough for Auto HVAC\";\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["f54d018a.ba3e5"]]},{"id":"4929a8a3.963288","type":"switch","z":"29778cf9.0d00e4","name":"Is Temp Below 2?","property":"temp","propertyType":"flow","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":530,"y":420,"wires":[["79dbf68f.84a538"],["5befbd8d.f0c524","1d787748.f037d9"]]},{"id":"f0575b40.6ab2f8","type":"function","z":"29778cf9.0d00e4","name":"Result","func":"if (msg.payload.response.result) {\n  result = \"Heater Started\";\n} else {\n  result = \"Heater Start Failed:\" +msg.payload.response.reason;\n}\nmsg = {}\nmsg.payload = {}\nmsg.payload = result;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["56621e4e.08863"]]},{"id":"1d787748.f037d9","type":"json","z":"29778cf9.0d00e4","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":540,"wires":[["f0575b40.6ab2f8"]]},{"id":"4176af59.7274d","type":"switch","z":"29778cf9.0d00e4","name":"Is Temp 5 or lower?","property":"temp","propertyType":"flow","rules":[{"t":"lte","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":610,"y":280,"wires":[["55fce7b6.f92788"],["19535ee4.ee3551"]]},{"id":"657d7b12.8bb7c4","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":840,"wires":[["cbbf9055.cf657"]]},{"id":"cbbf9055.cf657","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":840,"wires":[["4a90c3c9.5a6eec"]],"info":"Calculate the energy cost for the period"},{"id":"4a90c3c9.5a6eec","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[5].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[5].valid_from","tot":"msg"},{"t":"set","p":"pay.time_end","pt":"msg","to":"payload[0].valid_to","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":840,"wires":[["9f69603c.ed7ce"]]},{"id":"9f69603c.ed7ce","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":840,"wires":[["de906216.f4c61"]]},{"id":"de906216.f4c61","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/6\nmsg.outcome.hours = 3\nmsg.outcome.precent = msg.outcome.hours*8.7\n\nmsg.outcome.count = count.cheap\nflow.set ('Optionc' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":840,"wires":[["c01733ef.5f497"]]},{"id":"33d7cee5.2a0032","type":"inject","z":"62a6e15a.c8b1","name":"Start at 10:15PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 22 * * *","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["ff8a5ab3.bf58b8"]]},{"id":"17a33d9.7a58cc2","type":"template","z":"62a6e15a.c8b1","name":"Get current tariff","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT valid_from, value_inc_vat FROM agile_tariffs WHERE valid_from > (NOW())  \nORDER BY valid_from DESC","output":"str","x":740,"y":660,"wires":[["ab543d34.485e7"]]},{"id":"3273d931.8891e6","type":"comment","z":"62a6e15a.c8b1","name":"Finding Cheapest Consecutive Hours","info":"https://discourse.nodered.org/t/best-strategy-for-reading-sorting-electricity-cost-array/7929\n","x":530,"y":620,"wires":[]},{"id":"1bf4af06.8a1a81","type":"change","z":"62a6e15a.c8b1","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":660,"wires":[["17a33d9.7a58cc2"]]},{"id":"14684e7c.c9f0c2","type":"batch","z":"62a6e15a.c8b1","name":"Batch 6 periods (3 Hours)","mode":"count","count":"6","overlap":"5","interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":840,"wires":[["657d7b12.8bb7c4"]]},{"id":"999ee92c.6a8048","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":840,"wires":[["14684e7c.c9f0c2"]]},{"id":"aba3d0f.8efec3","type":"function","z":"62a6e15a.c8b1","name":"Set Charge Schedule","func":"var Optionhlf = flow.get('Optionhlf');\nvar Optiona = flow.get('Optiona');\nvar Optionb = flow.get('Optionb');\nvar Optionc = flow.get('Optionc');\nvar Optiond = flow.get('Optiond');\nvar Optione = flow.get('Optione');\nvar Optionf = flow.get('Optionf');\nvar Optiong = flow.get('Optiong');\nvar Optionh = flow.get('Optionh');\nvar Optioni = flow.get('Optioni');\nvar reqcharge = flow.get('reqcharge');\nvar toplimit = flow.get('toplimit');\nvar max_charge= toplimit-(flow.get('charge'));\nvar optimum_unit = global.get('optimum_unit')\nif (optimum_unit === undefined) {\n    global.set ('optimum_unit' ,5.2);\n}\n\n\nmsg.outcome = {}\nmsg.payload = {}\n\n//Build Array\nconst data = [Optionhlf, Optiona, Optionb, Optionc, Optiond, Optione, Optionf, Optiong, Optionh, Optioni];\ndata.sort(function(a, b) {\n    return parseFloat(a.costperunit) - parseFloat(b.costperunit);\n});\n\n// Get Charge Required\nvar reqcharge = flow.get('reqcharge');\n\n//Check required charge is less than 8.5 hours\nif (reqcharge<73)\n{\n//Find Best timeslot\n\nvar found = data.find(o => o.precent >= reqcharge);\n\n//Is cost under 5?\n//if not look to extend the charge time.\n\n//if (found.costperunit>optimum_unit)\n//- Edit to check if almost there issue\nif ((found.costperunit>optimum_unit) || (max_charge <5))  \n{\n\nmsg.payload.ontime = new Date(found.start).toISOString().replace('Z', '');\nflow.set ('delay' ,(found.hours*3600000));\n\nvar delay = flow.get('delay');\nmsg.payload.delay=delay\nmsg.payload.found=found\nmsg.payload.finda=\"finda\"\nmsg.payload.time=found.hours\nmsg.payload.costperunit=found.costperunit\nflow.set ('costperunit' ,found.costperunit);    \nflow.set ('hours' ,found.hours);    \n}\n\nelse {\n//Look for Max Time Where Price is under 5.5\n\n\ndata.sort(function(b, a) {\n    return parseFloat(a.hours) - parseFloat(b.hours);\n});  \n//var found = data.find(o => o.costperunit <=5);\n//var found = data.find(o => o.costperunit <=optimum_unit) && data.find(p => p.precent <=max_charge);\nvar found = data.filter(o => o.costperunit <=optimum_unit)\nvar found = found.find(p => p.precent <=max_charge)\n\nmsg.payload.ontime = new Date(found.start).toISOString().replace('Z', '');\nflow.set ('delay' ,(found.hours*3600000));\n\nvar delay = flow.get('delay');\nmsg.payload.delay=delay\nmsg.payload.found=found\nmsg.payload.finda=\"findb\"\nmsg.payload.time=found.hours\nmsg.payload.costperunit=found.costperunit\nflow.set ('costperunit' ,found.costperunit);\nflow.set ('hours' ,found.hours);  \n\n}}\nelse\n{\n    //Large Charge\nmsg.payload.ontime = \"22:30:00\"\nflow.set ('delay' ,36000000);\nvar delay = flow.get('delay');\nmsg.payload.delay=delay\nmsg.payload.finda=\"findc\"\nmsg.payload.time=10\nflow.set ('costperunit' ,0);\nflow.set ('hours' ,10);  \n}\n//msg.payload=max_charge;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":1200,"wires":[["1c847a71.14d0a6","37ca6a6e.7a9c46"]]},{"id":"5bed2592.37831c","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":880,"wires":[["795f8ae.7dfb174"]]},{"id":"795f8ae.7dfb174","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":880,"wires":[["31273cdb.8e7874"]],"info":"Calculate the energy cost for the period"},{"id":"31273cdb.8e7874","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[7].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[7].valid_from","tot":"msg"},{"t":"set","p":"pay.time_end","pt":"msg","to":"payload[0].valid_to","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":880,"wires":[["83f1f76b.025e98"]]},{"id":"83f1f76b.025e98","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":880,"wires":[["1f6b567.3e587aa"]]},{"id":"1f6b567.3e587aa","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/8\nmsg.outcome.hours = 4\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optiond' ,msg.outcome);\n//msg.outcome = {}\nmsg.pay = {}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":880,"wires":[["c01733ef.5f497"]]},{"id":"5e13d9b8.cba188","type":"batch","z":"62a6e15a.c8b1","name":"Batch 8 periods (4 Hours)","mode":"count","count":"8","overlap":"7","interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":880,"wires":[["5bed2592.37831c"]]},{"id":"a53c0bf6.0d5588","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":880,"wires":[["5e13d9b8.cba188"]]},{"id":"e1784034.ce674","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":920,"wires":[["f54d2607.481278"]]},{"id":"f54d2607.481278","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":920,"wires":[["b4d6d9af.3fa138"]],"info":"Calculate the energy cost for the period"},{"id":"b4d6d9af.3fa138","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[9].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[9].valid_from","tot":"msg"},{"t":"set","p":"pay.time_end","pt":"msg","to":"payload[0].valid_to","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":920,"wires":[["b0be45e2.9a7708"]]},{"id":"b0be45e2.9a7708","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":920,"wires":[["b8b22579.fcc428"]]},{"id":"b8b22579.fcc428","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/10\nmsg.outcome.hours = 5\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optione' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":920,"wires":[["c01733ef.5f497"]]},{"id":"b96c6d63.06a73","type":"batch","z":"62a6e15a.c8b1","name":"Batch 10 periods (5 Hours)","mode":"count","count":"10","overlap":"9","interval":10,"allowEmptySequence":false,"topics":[],"x":300,"y":920,"wires":[["e1784034.ce674"]]},{"id":"85900109.1703a","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":920,"wires":[["b96c6d63.06a73"]]},{"id":"971d3f58.2b7d8","type":"template","z":"62a6e15a.c8b1","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT count(value_inc_vat) AS 'cheap'\nFROM\n(\n   SELECT valid_from, value_inc_vat FROM agile_tariffs WHERE valid_from > (NOW())  \nORDER BY valid_from DESC\n) \nAS plop\nWHERE `value_inc_vat` < 7","output":"str","x":120,"y":640,"wires":[["a1819b66.77d718"]]},{"id":"4be2b8fb.b02c98","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":760,"wires":[["3742c5bb.0be33a"]]},{"id":"3742c5bb.0be33a","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":760,"wires":[["54174852.19ff48"]],"info":"Calculate the energy cost for the period"},{"id":"54174852.19ff48","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[1].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[1].valid_from","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":760,"wires":[["760bd82b.46bd18"]]},{"id":"760bd82b.46bd18","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":760,"wires":[["8f998f5b.7a82d"]]},{"id":"8f998f5b.7a82d","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/2\nmsg.outcome.hours = 1\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optiona' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":760,"wires":[["c01733ef.5f497"]]},{"id":"8f8716ec.9af3c8","type":"batch","z":"62a6e15a.c8b1","name":"Batch 2 periods (1 Hour)","mode":"count","count":"2","overlap":"1","interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":760,"wires":[["4be2b8fb.b02c98"]]},{"id":"708daee1.b5e14","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":760,"wires":[["8f8716ec.9af3c8"]]},{"id":"544a5d57.2ceb24","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":800,"wires":[["e59bb782.d310c8"]]},{"id":"e59bb782.d310c8","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":800,"wires":[["3b6fc916.418656"]],"info":"Calculate the energy cost for the period"},{"id":"3b6fc916.418656","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[3].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[3].valid_from","tot":"msg"},{"t":"set","p":"pay.time_end","pt":"msg","to":"payload[0].valid_to","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":800,"wires":[["7540fd57.f49864"]]},{"id":"7540fd57.f49864","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":800,"wires":[["f4eb4975.93c928"]]},{"id":"f4eb4975.93c928","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/4\nmsg.outcome.hours = 2\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optionb' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":800,"wires":[["c01733ef.5f497"]]},{"id":"734599e6.6994b8","type":"batch","z":"62a6e15a.c8b1","name":"Batch 4 periods (2 Hours)","mode":"count","count":"4","overlap":"3","interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":800,"wires":[["544a5d57.2ceb24"]]},{"id":"44dd0187.a248b","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":800,"wires":[["734599e6.6994b8"]]},{"id":"c01733ef.5f497","type":"join","z":"62a6e15a.c8b1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":130,"y":1160,"wires":[["aba3d0f.8efec3"]]},{"id":"7ad77bfc.bf4004","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":960,"wires":[["c85b9ae5.6ec378"]]},{"id":"c85b9ae5.6ec378","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":960,"wires":[["a6ae5428.9f2a28"]],"info":"Calculate the energy cost for the period"},{"id":"a6ae5428.9f2a28","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[11].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[11].valid_from","tot":"msg"},{"t":"set","p":"pay.time_end","pt":"msg","to":"payload[0].valid_to","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":960,"wires":[["c1077760.241608"]]},{"id":"c1077760.241608","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":960,"wires":[["74a8b826.8ea8a8"]]},{"id":"74a8b826.8ea8a8","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/12\nmsg.outcome.hours = 6\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optionf' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":960,"wires":[["c01733ef.5f497"]]},{"id":"b4cec803.0dec98","type":"batch","z":"62a6e15a.c8b1","name":"Batch 12 periods (6 Hours)","mode":"count","count":"12","overlap":"11","interval":10,"allowEmptySequence":false,"topics":[],"x":300,"y":960,"wires":[["7ad77bfc.bf4004"]]},{"id":"8028b281.1d1cc","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":960,"wires":[["b4cec803.0dec98"]]},{"id":"dd3bbdd3.de7e4","type":"file in","z":"62a6e15a.c8b1","name":"Open Token","filename":"/root/.node-red/token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":80,"wires":[["15949291.f9d25d"]]},{"id":"15949291.f9d25d","type":"json","z":"62a6e15a.c8b1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":80,"wires":[["581f7322.0850ec"]]},{"id":"581f7322.0850ec","type":"function","z":"62a6e15a.c8b1","name":"StoreToken","func":"flow.set ('token' ,msg.payload.access_token);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["19c6faa9.80b495"]]},{"id":"19c6faa9.80b495","type":"function","z":"62a6e15a.c8b1","name":"Wake Car","func":"var idToken = msg.payload.access_token;\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"wake_up\";\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[["cc1dab1b.bbe748"]]},{"id":"cc1dab1b.bbe748","type":"http request","z":"62a6e15a.c8b1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":990,"y":80,"wires":[["ba50aadf.5cd2b8"]],"outputLabels":["Wake Car"]},{"id":"ba50aadf.5cd2b8","type":"delay","z":"62a6e15a.c8b1","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":80,"wires":[["6c9617ea.9093f8"]]},{"id":"ca1e4f78.dccd1","type":"function","z":"62a6e15a.c8b1","name":"Get Car Data","func":"//var idToken = msg.payload.access_token;\nvar idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query2 = \"/api/1/vehicles/24830931984696858/vehicle_data\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["16af1cce.acd3d3"]]},{"id":"16af1cce.acd3d3","type":"http request","z":"62a6e15a.c8b1","name":"Req Data","method":"GET","ret":"obj","paytoqs":false,"url":"https://owner-api.teslamotors.com/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":740,"y":160,"wires":[["8b9b90ae.c9bef"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"8b9b90ae.c9bef","type":"switch","z":"62a6e15a.c8b1","name":"Try Again","property":"payload.response.state","propertyType":"msg","rules":[{"t":"eq","v":"online","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":160,"wires":[["c25a0b53.09fbf8"],["84bc2a33.8d15a8"]]},{"id":"84bc2a33.8d15a8","type":"delay","z":"62a6e15a.c8b1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":650,"y":120,"wires":[["19c6faa9.80b495"]]},{"id":"17addcb5.63a1c3","type":"switch","z":"62a6e15a.c8b1","name":"at Home?","property":"location","propertyType":"flow","rules":[{"t":"cont","v":"51.3","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":340,"y":300,"wires":[["f4b83399.7815a"],["f4e33169.70699"]]},{"id":"f4e33169.70699","type":"function","z":"62a6e15a.c8b1","name":"Not At Home","func":"var d = new Date();\nvar costperunit = flow.get('costperunit');\nmsg.payload = \"Car is not at Home\"+d\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["aef88fcf.006cf"]]},{"id":"e2f92a03.8c7358","type":"comment","z":"62a6e15a.c8b1","name":"Prepair for Auto Charge Optimisation","info":"","x":260,"y":240,"wires":[]},{"id":"7d4af2d7.247a1c","type":"function","z":"62a6e15a.c8b1","name":"Set to 65% Battery","func":"var charge = flow.get('charge');\nmsg.payload.reqcharge=65-charge\nflow.set ('reqcharge' ,(65-charge));\nflow.set ('endcharge' ,65);\nflow.set ('toplimit' ,95);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["971d3f58.2b7d8"]]},{"id":"370cd952.478fa6","type":"switch","z":"62a6e15a.c8b1","name":"Temp to Charge level","property":"temp","propertyType":"flow","rules":[{"t":"gte","v":"10","vt":"num"},{"t":"lte","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":true,"outputs":3,"x":200,"y":520,"wires":[["cd21530f.0199f"],["8a81c9c4.2ccd18"],["7d4af2d7.247a1c"]]},{"id":"cd21530f.0199f","type":"function","z":"62a6e15a.c8b1","name":"Set to 60% Battery","func":"var charge = flow.get('charge');\nmsg.payload.reqcharge=60-charge;\nflow.set ('reqcharge' ,(60-charge));\nflow.set ('endcharge' ,60);\nflow.set ('toplimit' ,95);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["971d3f58.2b7d8"]]},{"id":"ae1d0b4d.47fb68","type":"function","z":"62a6e15a.c8b1","name":"Set to 55% Battery","func":"var charge = flow.get('charge');\nmsg.payload.reqcharge=55-charge;\nflow.set ('reqcharge' ,(55-charge));\nflow.set ('endcharge' ,55);\nflow.set ('toplimit' ,90);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["971d3f58.2b7d8"]]},{"id":"8a81c9c4.2ccd18","type":"function","z":"62a6e15a.c8b1","name":"Set to 70% Battery","func":"var charge = flow.get('charge');\nmsg.payload.reqcharge=70-charge;\nflow.set ('reqcharge' ,(70-charge));\nflow.set ('endcharge' ,70);\nflow.set ('toplimit' ,95);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["971d3f58.2b7d8"]]},{"id":"3df4c3d8.5b5d1c","type":"comment","z":"62a6e15a.c8b1","name":"Automate Charging","info":"","x":110,"y":1360,"wires":[]},{"id":"a5552e3b.88f6f","type":"function","z":"62a6e15a.c8b1","name":"Get Car Data","func":"//var idToken = msg.payload.access_token;\nvar idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query2 = \"/api/1/vehicles/24830931984696858/vehicle_data\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1300,"wires":[["66c56ffd.62d76"]]},{"id":"66c56ffd.62d76","type":"http request","z":"62a6e15a.c8b1","name":"Req Data","method":"GET","ret":"obj","paytoqs":false,"url":"https://owner-api.teslamotors.com/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":800,"y":1300,"wires":[["3c4b26e5.dd1b3a"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"c0892006.7177","type":"function","z":"62a6e15a.c8b1","name":"Wake Car","func":"//var idToken = msg.payload.access_token;\nvar idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"wake_up\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1260,"wires":[["76774da1.002b44"]]},{"id":"76774da1.002b44","type":"http request","z":"62a6e15a.c8b1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":810,"y":1260,"wires":[["38b0ff1d.64e2b"]],"outputLabels":["Wake Car"]},{"id":"38b0ff1d.64e2b","type":"delay","z":"62a6e15a.c8b1","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":1260,"wires":[["a5552e3b.88f6f"]]},{"id":"3c4b26e5.dd1b3a","type":"switch","z":"62a6e15a.c8b1","name":"Try Again","property":"payload.response.state","propertyType":"msg","rules":[{"t":"eq","v":"online","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":1360,"wires":[["18ac0ff7.2f2be"],["b64d2765.b7aca8"]]},{"id":"b64d2765.b7aca8","type":"delay","z":"62a6e15a.c8b1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1300,"wires":[["c0892006.7177"]]},{"id":"9e830429.6bfdf8","type":"delay","z":"62a6e15a.c8b1","name":"Timer Charge for Cheap Rate","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":1560,"wires":[["b5415edc.af055"]]},{"id":"435be8d7.e863c8","type":"function","z":"62a6e15a.c8b1","name":"Set Charge Time Delay","func":"\nvar delay = flow.get('delay');\nmsg.delay=delay\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1500,"wires":[["9e830429.6bfdf8"]]},{"id":"18ac0ff7.2f2be","type":"function","z":"62a6e15a.c8b1","name":"Set to % Battery","func":"var idToken = flow.get('token');\nvar costperunit = flow.get('costperunit');\nvar toplimit = flow.get('toplimit');\nvar optimum_unit = global.get('optimum_unit');\n\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nif ((costperunit<optimum_unit) && (chrglimit=true))\n{\nmsg.payload={'percent': toplimit}\n}\n    else {\n    msg.payload={'percent': '90'}\n    }\nmsg.query2 = \"command/set_charge_limit\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1400,"wires":[["4a496266.4a201c"]]},{"id":"4a496266.4a201c","type":"http request","z":"62a6e15a.c8b1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":650,"y":1420,"wires":[["efb74b7a.b467c8","cfed4922.eb2b68"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"efb74b7a.b467c8","type":"function","z":"62a6e15a.c8b1","name":"gauge","func":"msg.payload=msg.payload.percent\n    return msg;","outputs":1,"noerr":0,"x":810,"y":1420,"wires":[["ef5b97fd.373438"]]},{"id":"25e05f01.16695","type":"function","z":"62a6e15a.c8b1","name":"Start Charge","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query2 = \"command/charge_start\";\nmsg.payload={ \n    'PARAM_NAME': 'PARAM_DESC'};\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1500,"wires":[["342887fd.cbc4b8"]]},{"id":"342887fd.cbc4b8","type":"http request","z":"62a6e15a.c8b1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":370,"y":1500,"wires":[["435be8d7.e863c8"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"ef5b97fd.373438","type":"link out","z":"62a6e15a.c8b1","name":"Link to Charge Level Graph","links":["2dca1d1f.c01cd2","d7d7cb3a.73b108","69b83101.827c4"],"x":775,"y":1480,"wires":[]},{"id":"b5415edc.af055","type":"function","z":"62a6e15a.c8b1","name":"Wake Car Ready for Min Charge ","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"wake_up\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1620,"wires":[["c0d62b35.d8c838"]]},{"id":"c0d62b35.d8c838","type":"http request","z":"62a6e15a.c8b1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":530,"y":1620,"wires":[["37946284.cec6be"]],"outputLabels":["Wake Car"]},{"id":"37946284.cec6be","type":"delay","z":"62a6e15a.c8b1","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":1620,"wires":[["2c819bb8.5ad1b4"]]},{"id":"2c819bb8.5ad1b4","type":"function","z":"62a6e15a.c8b1","name":"Set Charge End Charge Limit","func":"var idToken = flow.get('token');\nvar endcharge = flow.get('endcharge');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.payload={ \n    'percent': endcharge};\nmsg.query2 = \"command/set_charge_limit\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1680,"wires":[["ac606f6f.3ed74"]]},{"id":"ac606f6f.3ed74","type":"http request","z":"62a6e15a.c8b1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":450,"y":1680,"wires":[["59b5abb3.4e88b4"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"59b5abb3.4e88b4","type":"function","z":"62a6e15a.c8b1","name":"gauge","func":"var setcharge = flow.get('setcharge');\nmsg = {}\nmsg.payload = {}\nmsg.payload =setcharge\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1680,"wires":[["d15e9450.ebf9a8"]]},{"id":"d15e9450.ebf9a8","type":"link out","z":"62a6e15a.c8b1","name":"Link to Charge Level Graph","links":["69b83101.827c4"],"x":735,"y":1680,"wires":[]},{"id":"6c3da2e5.b7377c","type":"comment","z":"62a6e15a.c8b1","name":"Min Charge Level","info":"","x":100,"y":1560,"wires":[]},{"id":"6c9617ea.9093f8","type":"function","z":"62a6e15a.c8b1","name":"Set to 55% Charge Limit","func":"var idToken = flow.get('token');\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.payload={ \n    'percent': '55'};\nmsg.query2 = \"command/set_charge_limit\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":160,"wires":[["bd6ce8e1.35c2a8"]]},{"id":"bd6ce8e1.35c2a8","type":"http request","z":"62a6e15a.c8b1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":410,"y":160,"wires":[["ca1e4f78.dccd1","ed2c1aed.0f0c28"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"6aa0d531.7cd62c","type":"file in","z":"a30db13c.9915a","name":"Open Token","filename":"/root/.node-red/token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":680,"wires":[["e233c7f2.ee0778"]]},{"id":"e233c7f2.ee0778","type":"json","z":"a30db13c.9915a","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":680,"wires":[["dd7464ab.f0efc8"]]},{"id":"dd7464ab.f0efc8","type":"function","z":"a30db13c.9915a","name":"Wake Car","func":"var idToken = msg.payload.access_token;\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"wake_up\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":680,"wires":[["7f0e2c81.141264"]]},{"id":"7f0e2c81.141264","type":"http request","z":"a30db13c.9915a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":90,"y":720,"wires":[["d164f5ea.12aad8","96e1f24f.d7dd9"]],"outputLabels":["Wake Car"]},{"id":"f61b3ca8.cc3","type":"delay","z":"a30db13c.9915a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":740,"wires":[["fd316b70.3ac278"]]},{"id":"15b5e13a.2bb55f","type":"function","z":"a30db13c.9915a","name":"Open Charge Port","func":"var idToken = msg.payload.access_token;\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.payload={ \n    'percent': '95'};\nmsg.query2 = \"command/charge_port_door_open\";\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":800,"wires":[["a55fd08e.3d99c"]]},{"id":"a55fd08e.3d99c","type":"http request","z":"a30db13c.9915a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":330,"y":800,"wires":[["d164f5ea.12aad8"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"e07560a1.5d9d3","type":"json","z":"a30db13c.9915a","name":"","property":"payload","action":"obj","pretty":false,"x":690,"y":720,"wires":[["15b5e13a.2bb55f"]]},{"id":"fd316b70.3ac278","type":"file in","z":"a30db13c.9915a","name":"Open Token","filename":"/root/.node-red/token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":720,"wires":[["e07560a1.5d9d3"]]},{"id":"d8a78b8b.ee75f8","type":"comment","z":"a30db13c.9915a","name":"Unlock/Open Charge Port","info":"","x":130,"y":620,"wires":[]},{"id":"d164f5ea.12aad8","type":"debug","z":"a30db13c.9915a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":800,"wires":[]},{"id":"603200d4.82c2c","type":"ui_button","z":"a30db13c.9915a","name":"","group":"e3fb6195.2d861","order":12,"width":0,"height":0,"passthru":false,"label":"Open/Unlock Charge Port","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Start","payloadType":"str","topic":"","x":140,"y":680,"wires":[["6aa0d531.7cd62c"]]},{"id":"96e1f24f.d7dd9","type":"switch","z":"a30db13c.9915a","name":"","property":"msg.payload","propertyType":"msg","rules":[{"t":"cont","v":"online","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":720,"wires":[["fd316b70.3ac278"],["f61b3ca8.cc3"]]},{"id":"a543ef1e.61e99","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Charge Override","tooltip":"","group":"e3fb6195.2d861","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":520,"wires":[["eb7aa191.d45c4"]]},{"id":"eb7aa191.d45c4","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('override' ,msg.payload);\n//global.get('overcharge', '50');\nmsg.enabled=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["6509d988.082148","91757501.cda5d8"]]},{"id":"60f9ea5e.200df4","type":"function","z":"62a6e15a.c8b1","name":"Set % Battery","func":"var overcharge = global.get('overcharge');\nvar charge = flow.get('charge');\n\nflow.set ('reqcharge' ,(overcharge-charge));\nflow.set ('endcharge' ,overcharge);\nflow.set ('toplimit' ,overcharge);\n\nmsg.payload.reqcharge=(overcharge-charge);\nmsg.payload=overcharge;\nmsg.payload.charge2=\"overcharge\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["865b697b.804588","971d3f58.2b7d8"]]},{"id":"d7dfdeb8.e1c17","type":"switch","z":"62a6e15a.c8b1","name":"Charge Override","property":"override","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":400,"wires":[["60f9ea5e.200df4"],["c547507f.1006b"]]},{"id":"2ef95734.8f7788","type":"link out","z":"62a6e15a.c8b1","name":"Reset Switch","links":["152173d8.f9ec1c"],"x":795,"y":360,"wires":[]},{"id":"152173d8.f9ec1c","type":"link in","z":"a30db13c.9915a","name":"Fri Night Override Switch","links":["a59683d8.9644c","2ef95734.8f7788"],"x":75,"y":520,"wires":[["a543ef1e.61e99"]]},{"id":"865b697b.804588","type":"function","z":"62a6e15a.c8b1","name":"Turn Off","func":"msg.payload=false\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":360,"wires":[["2ef95734.8f7788"]]},{"id":"cfed4922.eb2b68","type":"delay","z":"62a6e15a.c8b1","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":1460,"wires":[["25e05f01.16695"]]},{"id":"ff8a5ab3.bf58b8","type":"switch","z":"62a6e15a.c8b1","name":"Switch On/Off","property":"autocharge","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":40,"wires":[[],["dd3bbdd3.de7e4"]]},{"id":"12985a46.ec0b56","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Auto Charge","tooltip":"","group":"e3fb6195.2d861","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":140,"wires":[["2703c394.fc680c"]]},{"id":"2703c394.fc680c","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('autocharge' ,msg.payload);\nvar autocharge = global.get('autocharge');\nmsg.payload = {}\nmsg.payload['autocharge'] = autocharge;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["9f7aad8c.3de59"]]},{"id":"37ca6a6e.7a9c46","type":"function","z":"62a6e15a.c8b1","name":"Bulid Charge Start Push","func":"var d = new Date();\nvar costperunit = flow.get('costperunit');\nvar hours = flow.get('hours');\nvar reqcharge = flow.get('reqcharge');\nvar charge_previous = flow.get('charge_start');\nvar charge = flow.get('charge');\nvar endcharge = flow.get('endcharge');\nvar added_charge = hours*8.7;\nvar start = msg.payload.ontime;\n\nvar find = msg.payload.finda\nmsg.payload=d+\" Charging Scheduled for \"+start+\", Run Time \"+hours+\" hours adding \"+added_charge+\"%. Cost Per Unit: \"+costperunit+\"p, Start Charge: \"+charge+\"%, Target Charge: \"+endcharge+\"% Req Charge\"+reqcharge+\" find\" +find;\nmsg.topic=\"Auto Charge Schedule\"\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1260,"wires":[["fe659d32.1e703"]]},{"id":"91757501.cda5d8","type":"ui_numeric","z":"a30db13c.9915a","name":"","label":"Precent","tooltip":"","group":"e3fb6195.2d861","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"50","max":"100","step":1,"x":420,"y":600,"wires":[["2621ded.3b34722","6509d988.082148"]]},{"id":"6509d988.082148","type":"ui_slider","z":"a30db13c.9915a","name":"","label":"","tooltip":"","group":"e3fb6195.2d861","order":11,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"50","max":"100","step":"5","x":410,"y":560,"wires":[["91757501.cda5d8"]]},{"id":"2621ded.3b34722","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('overcharge' ,msg.payload);\nvar override = global.get('override');\nvar overcharge = global.get('overcharge');\nmsg.payload = {}\nmsg.payload['override'] = override;\nmsg.payload['overcharge'] = overcharge;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":500,"wires":[["9f7aad8c.3de59"]]},{"id":"f4b83399.7815a","type":"switch","z":"62a6e15a.c8b1","name":"Is Charger Connected","property":"oncharge","propertyType":"flow","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":360,"wires":[["448d5aed.78bb44"],["d7dfdeb8.e1c17"]]},{"id":"448d5aed.78bb44","type":"function","z":"62a6e15a.c8b1","name":"Not Pluged in Notification","func":"msg.payload=\"CAR NOT PLUGGED IN\"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["aef88fcf.006cf"]]},{"id":"1def0ea8.e86ba1","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1000,"wires":[["4172264f.ecc4e8"]]},{"id":"4172264f.ecc4e8","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1000,"wires":[["31bc1adb.107ca6"]],"info":"Calculate the energy cost for the period"},{"id":"31bc1adb.107ca6","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[13].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[13].valid_from","tot":"msg"},{"t":"set","p":"pay.time_end","pt":"msg","to":"payload[0].valid_to","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1000,"wires":[["97997fcf.175ce"]]},{"id":"97997fcf.175ce","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"7","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":1000,"wires":[["90ba366d.ad4658"]]},{"id":"90ba366d.ad4658","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/14\nmsg.outcome.hours = 7\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optiong' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":1000,"wires":[["c01733ef.5f497"]]},{"id":"16933224.4a5d2e","type":"batch","z":"62a6e15a.c8b1","name":"Batch 14 periods (7 Hours)","mode":"count","count":"14","overlap":"13","interval":10,"allowEmptySequence":false,"topics":[],"x":300,"y":1000,"wires":[["1def0ea8.e86ba1"]]},{"id":"dd6bceb6.a7a8","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":1000,"wires":[["16933224.4a5d2e"]]},{"id":"bfcd46e8.abf218","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1040,"wires":[["fa8f4f30.595cd"]]},{"id":"fa8f4f30.595cd","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1040,"wires":[["36013ae7.502206"]],"info":"Calculate the energy cost for the period"},{"id":"36013ae7.502206","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[15].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[15].valid_from","tot":"msg"},{"t":"set","p":"pay.time_end","pt":"msg","to":"payload[0].valid_to","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1040,"wires":[["feccf464.8702f8"]]},{"id":"feccf464.8702f8","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":1040,"wires":[["a36874d7.a85398"]]},{"id":"a36874d7.a85398","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/16\nmsg.outcome.hours = 8\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optionh' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":1040,"wires":[["c01733ef.5f497"]]},{"id":"e6630b77.a8e768","type":"batch","z":"62a6e15a.c8b1","name":"Batch 16 periods (8 Hours)","mode":"count","count":"16","overlap":"15","interval":10,"allowEmptySequence":false,"topics":[],"x":300,"y":1040,"wires":[["bfcd46e8.abf218"]]},{"id":"7b2c807c.d48e4","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":1040,"wires":[["e6630b77.a8e768"]]},{"id":"31e6015a.21a3ce","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1080,"wires":[["3a352ee2.c4e022"]]},{"id":"3a352ee2.c4e022","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1080,"wires":[["1fb09629.a7c84a"]],"info":"Calculate the energy cost for the period"},{"id":"1fb09629.a7c84a","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[16].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[16].valid_from","tot":"msg"},{"t":"set","p":"pay.time_end","pt":"msg","to":"payload[0].valid_to","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1080,"wires":[["ac7d0d14.44d12"]]},{"id":"ac7d0d14.44d12","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":1080,"wires":[["74d6c58e.c1382c"]]},{"id":"74d6c58e.c1382c","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value/17\nmsg.outcome.hours = 8.5\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optioni' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":1080,"wires":[["c01733ef.5f497"]]},{"id":"7d4ce94c.514e48","type":"batch","z":"62a6e15a.c8b1","name":"Batch 17 periods (8.5 Hours)","mode":"count","count":"17","overlap":"16","interval":10,"allowEmptySequence":false,"topics":[],"x":300,"y":1080,"wires":[["31e6015a.21a3ce"]]},{"id":"1205ba38.2d1e86","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":1080,"wires":[["7d4ce94c.514e48"]]},{"id":"cc6a4d33.c40c5","type":"join","z":"62a6e15a.c8b1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":720,"wires":[["f9140542.137188"]]},{"id":"f9140542.137188","type":"function","z":"62a6e15a.c8b1","name":"Cost for batch","func":"function addValue(arr) {\n    let add = 0;\n    for (let ele of arr) {\n        add = add + ele.value_inc_vat;\n    }\n    return add;\n}\n\nmsg.value_batch = addValue(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":720,"wires":[["cbf017fd.5099f8"]],"info":"Calculate the energy cost for the period"},{"id":"cbf017fd.5099f8","type":"change","z":"62a6e15a.c8b1","name":"Transform","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[0].valid_from","tot":"msg"},{"t":"set","p":"pay.start","pt":"msg","to":"payload[0].valid_from","tot":"msg"},{"t":"move","p":"value_batch","pt":"msg","to":"pay.value","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"pay.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":720,"wires":[["ac91313d.3de45"]]},{"id":"ac91313d.3de45","type":"join","z":"62a6e15a.c8b1","name":"Create Array","mode":"custom","build":"array","property":"pay","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":720,"wires":[["75f79a25.b72754"]]},{"id":"75f79a25.b72754","type":"function","z":"62a6e15a.c8b1","name":"Select lowest","func":"var count = flow.get('count');\nmsg.outcome = msg.pay.reduce((prev, current) => (prev.value < current.value) ? prev : current)\nmsg.outcome.costperunit = msg.outcome.value\nmsg.outcome.hours = 0.5\nmsg.outcome.precent = msg.outcome.hours*8.7\nmsg.outcome.count = count.cheap\nflow.set ('Optionhlf' ,msg.outcome);\nmsg.outcome = {}\nmsg.pay = {}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":720,"wires":[["c01733ef.5f497"]]},{"id":"85c92cb9.da0ce","type":"batch","z":"62a6e15a.c8b1","name":"Batch 1 periods (30 Min)","mode":"count","count":"1","overlap":"0","interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":720,"wires":[["cc6a4d33.c40c5"]]},{"id":"1e9b67de.2cb788","type":"split","z":"62a6e15a.c8b1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":720,"wires":[["85c92cb9.da0ce"]]},{"id":"ed2c1aed.0f0c28","type":"function","z":"62a6e15a.c8b1","name":"gauge","func":"msg = {}\nmsg.payload = {}\nmsg.payload =55\n\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":201,"wires":[["b6b7868a.4a4d28"]]},{"id":"b6b7868a.4a4d28","type":"link out","z":"62a6e15a.c8b1","name":"Link to Charge Level Graph","links":["69b83101.827c4"],"x":316,"y":201,"wires":[]},{"id":"8e028f4e.3a7e7","type":"ui_numeric","z":"a30db13c.9915a","name":"","label":"Optimum Unit Cost (KW/h)","tooltip":"","group":"e3fb6195.2d861","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":10,"step":"0.25","x":200,"y":480,"wires":[["e53e9ab8.9a9a38"]]},{"id":"e53e9ab8.9a9a38","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('optimum_unit' ,msg.payload);\nvar optimum_unit = global.get('optimum_unit');\nmsg.payload = {}\nmsg.payload['optimum_unit'] = optimum_unit;\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["9f7aad8c.3de59"]]},{"id":"c25a0b53.09fbf8","type":"function","z":"62a6e15a.c8b1","name":"Set Varables","func":"flow.set ('temp' ,msg.payload.response.climate_state.outside_temp);\nflow.set ('location' ,msg.payload.response.drive_state.native_latitude);\nflow.set ('oncharge' ,msg.payload.response.charge_state.charge_port_door_open);\nflow.set ('charge' ,msg.payload.response.charge_state.battery_level);\nflow.set ('odometer' ,msg.payload.response.vehicle_state.odometer);\nflow.set ('miles_range' ,msg.payload.response.charge_state.battery_range);\n\n\nvar temp = flow.get('temp');\nvar location = flow.get('location');\nvar oncharge = flow.get('oncharge');\nmsg.payload = {}\nmsg.payload['temp'] = temp;\nmsg.payload['location'] = location;\nmsg.payload['oncharge'] = oncharge;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["17addcb5.63a1c3"]]},{"id":"dd0b202f.5e988","type":"function","z":"a30db13c.9915a","name":"","func":"msg.payload=5.5\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":60,"wires":[["8e028f4e.3a7e7"]]},{"id":"1c847a71.14d0a6","type":"schedex","z":"62a6e15a.c8b1","name":"Set Start Time","suspended":false,"lat":"51.359268","lon":"-2.663720","ontime":"","ontopic":"","onpayload":"{{msg.payload.ontime}}","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":440,"y":1220,"wires":[["c0892006.7177"]]},{"id":"e61edabd.f6efc8","type":"mysql","z":"227fd882.d86348","mydb":"7622b70f.2bec68","name":"","x":130,"y":320,"wires":[[]]},{"id":"6be96cb6.1abb64","type":"mysql","z":"227fd882.d86348","mydb":"7622b70f.2bec68","name":"","x":330,"y":120,"wires":[["7109f39e.98919c"]]},{"id":"ab543d34.485e7","type":"mysql","z":"62a6e15a.c8b1","mydb":"7622b70f.2bec68","name":"","x":930,"y":660,"wires":[["708daee1.b5e14","44dd0187.a248b","999ee92c.6a8048","a53c0bf6.0d5588","85900109.1703a","8028b281.1d1cc","dd6bceb6.a7a8","7b2c807c.d48e4","1205ba38.2d1e86","1e9b67de.2cb788"]]},{"id":"a1819b66.77d718","type":"mysql","z":"62a6e15a.c8b1","mydb":"","name":"","x":310,"y":660,"wires":[["1bf4af06.8a1a81"]]},{"id":"5fb75bf.bee9ca4","type":"pushover","z":"c73ca14a.a1a1e","name":"","device":"sm-g950f","title":"Node-Red","priority":"1","sound":"pushover","url":"","url_title":"","html":false,"x":690,"y":180,"wires":[]},{"id":"b1979418.819858","type":"pushover","z":"37ca7b25.690944","name":"Push Notification","device":"","title":"Node-Red","priority":"1","sound":"pushover","url":"","url_title":"","html":false,"x":670,"y":340,"wires":[]},{"id":"accfd373.4e4fd","type":"pushover","z":"37ca7b25.690944","name":"Push Notification","device":"","title":"Node-Red","priority":"1","sound":"pushover","url":"","url_title":"","html":false,"x":750,"y":600,"wires":[]},{"id":"f54d018a.ba3e5","type":"pushover","z":"29778cf9.0d00e4","name":"Push Notification","device":"","title":"Node-Red","priority":"1","sound":"pushover","url":"","url_title":"","html":false,"x":670,"y":340,"wires":[]},{"id":"56621e4e.08863","type":"pushover","z":"29778cf9.0d00e4","name":"Push Notification","device":"","title":"Node-Red","priority":"1","sound":"pushover","url":"","url_title":"","html":false,"x":770,"y":620,"wires":[]},{"id":"fe659d32.1e703","type":"pushover","z":"62a6e15a.c8b1","name":"","device":"","title":"Node-Red","priority":"1","sound":"pushover","url":"","url_title":"","html":false,"x":110,"y":1320,"wires":[]},{"id":"aef88fcf.006cf","type":"pushover","z":"62a6e15a.c8b1","name":"","device":"","title":"Node-Red","priority":"1","sound":"pushover","url":"","url_title":"","html":false,"x":930,"y":240,"wires":[]},{"id":"c547507f.1006b","type":"weekday","z":"62a6e15a.c8b1","name":"Is it Fri/Sat/Mon?","sun":false,"mon":true,"tue":false,"wed":false,"thu":false,"fri":true,"sat":true,"x":190,"y":460,"wires":[["ae1d0b4d.47fb68"],["370cd952.478fa6"]]}]