Agile-Tesla.json
[{"id":"a30db13c.9915a","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"f8fdd1dd.1a3a8","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Work Defrost","tooltip":"","group":"e3fb6195.2d861","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":180,"wires":[["7627e1a8.cde66"]]},{"id":"7627e1a8.cde66","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('wdefrost' ,msg.payload);\nvar wdefrost = global.get('wdefrost');\nmsg.payload = {}\nmsg.payload['wdefrost'] = wdefrost;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["9f7aad8c.3de59"]]},{"id":"2cb3d145.a698ae","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Master switch","tooltip":"","group":"e3fb6195.2d861","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":20,"wires":[["f8fdd1dd.1a3a8","56bae5cb.90c69c","968d128.80af3f","83777138.1376b","d6349489.58ba88","12985a46.ec0b56","dd0b202f.5e988"]]},{"id":"9f7aad8c.3de59","type":"debug","z":"a30db13c.9915a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":240,"wires":[]},{"id":"56bae5cb.90c69c","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Data Logging","tooltip":"","group":"e3fb6195.2d861","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":240,"wires":[["2f09edce.647902"]]},{"id":"2f09edce.647902","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('dlog' ,msg.payload);\nvar dlog = global.get('dlog');\nmsg.payload = {}\nmsg.payload['dlog'] = dlog;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["9f7aad8c.3de59"]]},{"id":"b5a47d98.78ee1","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('aHVAC' ,msg.payload);\nvar aHVAC = global.get('aHVAC');\nmsg.payload = {}\nmsg.payload['aHVAC'] = aHVAC;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["9f7aad8c.3de59"]]},{"id":"968d128.80af3f","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Auto HVAC Off","tooltip":"","group":"e3fb6195.2d861","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":300,"wires":[["b5a47d98.78ee1"]]},{"id":"11d4db5b.1e7e25","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('hdefrost' ,msg.payload);\nvar hdefrost = global.get('hdefrost');\nmsg.payload = {}\nmsg.payload['hdefrost'] = hdefrost;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["9f7aad8c.3de59"]]},{"id":"83777138.1376b","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Home Defrost","tooltip":"","group":"e3fb6195.2d861","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":360,"wires":[["11d4db5b.1e7e25"]]},{"id":"d6349489.58ba88","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"95% Charge Limit","tooltip":"","group":"e3fb6195.2d861","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":420,"wires":[["9011178b.15a028"]]},{"id":"9011178b.15a028","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('chrglimit' ,msg.payload);\nvar chrglimit = global.get('chrglimit');\nmsg.payload = {}\nmsg.payload['chrglimit'] = chrglimit;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["9f7aad8c.3de59"]]},{"id":"6aa0d531.7cd62c","type":"file in","z":"a30db13c.9915a","name":"Open Token","filename":"/root/.node-red/token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":680,"wires":[["e233c7f2.ee0778"]]},{"id":"e233c7f2.ee0778","type":"json","z":"a30db13c.9915a","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":680,"wires":[["dd7464ab.f0efc8"]]},{"id":"dd7464ab.f0efc8","type":"function","z":"a30db13c.9915a","name":"Wake Car","func":"var idToken = msg.payload.access_token;\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.query = \"wake_up\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":680,"wires":[["7f0e2c81.141264"]]},{"id":"7f0e2c81.141264","type":"http request","z":"a30db13c.9915a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":90,"y":720,"wires":[["d164f5ea.12aad8","96e1f24f.d7dd9"]],"outputLabels":["Wake Car"]},{"id":"f61b3ca8.cc3","type":"delay","z":"a30db13c.9915a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":740,"wires":[["fd316b70.3ac278"]]},{"id":"15b5e13a.2bb55f","type":"function","z":"a30db13c.9915a","name":"Open Charge Port","func":"var idToken = msg.payload.access_token;\nmsg = {}\nmsg.payload = {}\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Linux; Android 9.0.0; VS985 4G Build/LRX21Y; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36';\nmsg.headers['X-Tesla-User-Agent'] = 'TeslaApp/3.4.4-350/fad4a582e/android/9.0.0';\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\nmsg.payload={ \n    'percent': '95'};\nmsg.query2 = \"command/charge_port_door_open\";\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":800,"wires":[["a55fd08e.3d99c"]]},{"id":"a55fd08e.3d99c","type":"http request","z":"a30db13c.9915a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://owner-api.teslamotors.com/api/1/vehicles/24830931984696858/{{{query2}}}","tls":"a30d797c.59ad58","persist":false,"proxy":"","authType":"","x":330,"y":800,"wires":[["d164f5ea.12aad8"]],"outputLabels":["Wake Car"],"info":"# "},{"id":"e07560a1.5d9d3","type":"json","z":"a30db13c.9915a","name":"","property":"payload","action":"obj","pretty":false,"x":690,"y":720,"wires":[["15b5e13a.2bb55f"]]},{"id":"fd316b70.3ac278","type":"file in","z":"a30db13c.9915a","name":"Open Token","filename":"/root/.node-red/token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":720,"wires":[["e07560a1.5d9d3"]]},{"id":"d8a78b8b.ee75f8","type":"comment","z":"a30db13c.9915a","name":"Unlock/Open Charge Port","info":"","x":130,"y":620,"wires":[]},{"id":"d164f5ea.12aad8","type":"debug","z":"a30db13c.9915a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":800,"wires":[]},{"id":"603200d4.82c2c","type":"ui_button","z":"a30db13c.9915a","name":"","group":"e3fb6195.2d861","order":12,"width":0,"height":0,"passthru":false,"label":"Open/Unlock Charge Port","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Start","payloadType":"str","topic":"","x":140,"y":680,"wires":[["6aa0d531.7cd62c"]]},{"id":"96e1f24f.d7dd9","type":"switch","z":"a30db13c.9915a","name":"","property":"msg.payload","propertyType":"msg","rules":[{"t":"cont","v":"online","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":720,"wires":[["fd316b70.3ac278"],["f61b3ca8.cc3"]]},{"id":"a543ef1e.61e99","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Charge Override","tooltip":"","group":"e3fb6195.2d861","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":520,"wires":[["eb7aa191.d45c4"]]},{"id":"eb7aa191.d45c4","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('override' ,msg.payload);\n//global.get('overcharge', '50');\nmsg.enabled=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["6509d988.082148","91757501.cda5d8"]]},{"id":"152173d8.f9ec1c","type":"link in","z":"a30db13c.9915a","name":"Fri Night Override Switch","links":["a59683d8.9644c","2ef95734.8f7788"],"x":75,"y":520,"wires":[["a543ef1e.61e99"]]},{"id":"12985a46.ec0b56","type":"ui_switch","z":"a30db13c.9915a","name":"","label":"Auto Charge","tooltip":"","group":"e3fb6195.2d861","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":140,"wires":[["2703c394.fc680c"]]},{"id":"2703c394.fc680c","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('autocharge' ,msg.payload);\nvar autocharge = global.get('autocharge');\nmsg.payload = {}\nmsg.payload['autocharge'] = autocharge;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["9f7aad8c.3de59"]]},{"id":"91757501.cda5d8","type":"ui_numeric","z":"a30db13c.9915a","name":"","label":"Precent","tooltip":"","group":"e3fb6195.2d861","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"50","max":"100","step":1,"x":420,"y":600,"wires":[["2621ded.3b34722","6509d988.082148"]]},{"id":"6509d988.082148","type":"ui_slider","z":"a30db13c.9915a","name":"","label":"","tooltip":"","group":"e3fb6195.2d861","order":11,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"50","max":"100","step":"5","x":410,"y":560,"wires":[["91757501.cda5d8"]]},{"id":"2621ded.3b34722","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('overcharge' ,msg.payload);\nvar override = global.get('override');\nvar overcharge = global.get('overcharge');\nmsg.payload = {}\nmsg.payload['override'] = override;\nmsg.payload['overcharge'] = overcharge;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":500,"wires":[["9f7aad8c.3de59"]]},{"id":"8e028f4e.3a7e7","type":"ui_numeric","z":"a30db13c.9915a","name":"","label":"Optimum Unit Cost (KW/h)","tooltip":"","group":"e3fb6195.2d861","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":10,"step":"0.25","x":200,"y":480,"wires":[["e53e9ab8.9a9a38"]]},{"id":"e53e9ab8.9a9a38","type":"function","z":"a30db13c.9915a","name":"","func":"global.set ('optimum_unit' ,msg.payload);\nvar optimum_unit = global.get('optimum_unit');\nmsg.payload = {}\nmsg.payload['optimum_unit'] = optimum_unit;\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["9f7aad8c.3de59"]]},{"id":"dd0b202f.5e988","type":"function","z":"a30db13c.9915a","name":"","func":"msg.payload=5.5\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":60,"wires":[["8e028f4e.3a7e7"]]},{"id":"e3fb6195.2d861","type":"ui_group","z":"","name":"Controls","tab":"195c1283.bdbb4d","disp":true,"width":6,"collapse":true},{"id":"a30d797c.59ad58","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"195c1283.bdbb4d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]